html {
  height: 100%;
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #1c1c1f;
}

.container .form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 6.2vw;
}

.container .form--container img {
  height: 5.5vw;
}

.container .form--container .form--container-input {
  width: 100%;
  height: 2.96875vw;
  margin-bottom: 10px;
  border-radius: 4px;
  background: white;
  color: gray;
  font-size: 2.08333vw;
  font-weight: 300;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
  outline: none;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
}

.selected {
  border: 6px solid #e86041 !important;
}

.container .form--container .focused {
  background: #e86041;
  color: white;
  transition: all 0.2s ease-in-out;
  border: 6px solid #e86041;
}

.container .form--container .login--text {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  font-size: 2.08333vw;
}

.container .form--container .recovery--text-password {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-weight: 400;
  font-size: 1.71875vw;
}

.container .form--container button {
  background: rgb(43, 44, 55);
  width: 19.94792vw;
  border-radius: 50px;
  border: none;
  padding: 2vw;
  font-size: 1.5625vw;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.container .form--container button:focus {
  background: #e86041;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container {
  width: 29vw;
}

.container .keyboard--container .keyboard--container-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.keyboard--container-buttons button {
  width: 15.2%;
  margin: 2px;
}

.container .keyboard--container .keyboard--container-buttons .focused {
  background: #e86041;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container .keyboard--container-changes .focused {
  background: #e86041;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container .keyboard--container-buttons button {
  color: rgb(255, 255, 255);
  border-radius: 0px;
  background: rgb(43, 44, 55);
  opacity: 1;
  font-size: 1.71875vw;
  height: 4.375vw;
  overflow: hidden;
  padding: 0.26042vw;
  white-space: nowrap;
  border-width: thin;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.container
  .keyboard--container
  .keyboard--container-buttons
  .form--container
  button:focus {
  background: #e86041;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container .keyboard--container-buttons button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container .keyboard--container .keyboard--container-changes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}

.container .keyboard--container .keyboard--container-changes button {
  display: flex;
  width: 30.8%;
  margin: 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  background: rgb(43, 44, 55);
  opacity: 1;
  font-size: 1.71875vw;
  height: 4.375vw;
  overflow: hidden;
  padding: 0.26042vw;
  white-space: nowrap;
  border-width: thin;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container .keyboard--container-changes button svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  margin-right: 0.5vw;
  height: 2vw;
  overflow: hidden;
  white-space: nowrap;
  border-width: thin;
  border: 0;
  transition: all 0.2s ease-in-out;
}

.container .keyboard--container .keyboard--container-changes button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container p {
  color: white;
}

.container-popup {
  display: none;
  background-color: rgb(32, 32, 32);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.popup {
  background-color: rgb(17, 21, 30);
  display: block;
  margin-left: 14.84375vw;
  min-height: 26.5625vw;
  padding-bottom: 1.30208vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70.3125vw;
}

.popup--text-title {
  color: rgb(255, 255, 255);
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 700;
  margin-top: 4.16667vw;
}

.popup--text-description {
  color: rgb(202, 202, 202);
  font-size: 3vw;
  font-weight: 200;
  margin-left: 0.98958vw;
  margin-right: 0.98958vw;
  margin-top: 0.98958vw;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.popup--buttons {
  margin-top: 7.5vw;
  text-align: center;
}

.popup--buttons-button {
  color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 0;
  display: inline-block;
  font-size: 1.5625vw;
  font-weight: 700;
  line-height: 1.5625vw;
  margin-right: 0.83333vw;
  padding: 0.78125vw 2.08333vw;
  text-transform: uppercase;
  width: fit-content;
  background-color: #e86041;
}
